/* Padding, Spacing, Alignment */
.body {
  position: relative;
}

.container {
  padding: 15px 15px 15px 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.header-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.featured-items, .footer {
  padding: 15px 15px 15px 15px;
}

.featured-items .featured-item-image {
  height: 250px;
  width: 250px;
}

.item-text {
  padding: 15px 15px 15px 15px;
}

.footer .nav-link-list {
  line-height: 0.5em;
}

.carousel {
  position: relative;
  top: 0;
}

.header-image-text {
  color: #ffffff;
}

.timeline-outline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.timeline-outline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
}

@media only screen and (min-width: 1170px) {
  .timeline-outline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .timeline-outline.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}

/* Colors */
body {
  background-color: #ffffff;
}

.bg-light-pss {
  background-color: transparent !important;
  transition: background-color 200ms linear;
}

.bg-light-pss.scrolled {
  background-color: #1A1D32 !important;
  transition: background-color 200ms linear;
}

a.bg-light-pss:hover, a.bg-light-pss:focus,
button.bg-light-pss:hover,
button.bg-light-pss:focus {
  background-color: #252D28 !important;
}

.navbar-light-pss .navbar-brand {
  color: rgba(255, 255, 255, 1.0);
}

.navbar-light-pss .navbar-brand:hover, .navbar-light-pss .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-light-pss .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-light-pss .navbar-nav .nav-link:hover, .navbar-light-pss .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1.0);
}

.navbar-light-pss .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.3);
}

.navbar-light-pss .navbar-nav .show > .nav-link,
.navbar-light-pss .navbar-nav .active > .nav-link,
.navbar-light-pss .navbar-nav .nav-link.show,
.navbar-light-pss .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 1.0);
}

.navbar-light-pss .navbar-toggler {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-light-pss .navbar-toggler:hover, .navbar-light-pss .navbar-toggler:focus {
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 1.0);
}

.navbar-light-pss .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light-pss .navbar-toggler-icon:hover, .navbar-light-pss .navbar-toggler-icon:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carousel img {
  opacity: 1.0;
  filter: brightness(75%);
}

.timeline-outline::before {
  background: #1A1D32;
}

.timeline-icon-bg {
  background-color: #1A1D32;
  color: #ffffff;
}
